.node rect {
  cursor: move;
  fill-opacity: .9;
  shape-rendering: crispEdges;
}

.tempSideNode {
  shape-rendering: crispEdges;
}
 
.node text {
  pointer-events: none;
  text-shadow: 0 1px 0 #fff;
  font-size: .9em;
}
 
.link, .tempLink{

  fill: none;
  stroke-opacity: .5;
}

.link.backwards {
  stroke: #402;
  stroke-dasharray: 9,1;
}